<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShopProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CustomerEntities" connectionString="metadata=res://*/CustomerModel.csdl|res://*/CustomerModel.ssdl|res://*/CustomerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-677BDBL;initial catalog=Customer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ShopProject.Properties.Settings.CustomerConnectionString"
      connectionString="Data Source=DESKTOP-677BDBL;Initial Catalog=Customer;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <ShopProject.Properties.Settings>
      <setting name="Name1" serializeAs="String">
        <value>Bag 1</value>
      </setting>
      <setting name="Name2" serializeAs="String">
        <value>Bag 2</value>
      </setting>
      <setting name="Name3" serializeAs="String">
        <value>Jewelry 1</value>
      </setting>
      <setting name="Name4" serializeAs="String">
        <value>Jewelry 2</value>
      </setting>
      <setting name="Name5" serializeAs="String">
        <value>Wallet</value>
      </setting>
      <setting name="Name6" serializeAs="String">
        <value>Hat</value>
      </setting>
      <setting name="Price1" serializeAs="String">
        <value>30 $</value>
      </setting>
      <setting name="Price2" serializeAs="String">
        <value>40 $</value>
      </setting>
      <setting name="Price3" serializeAs="String">
        <value>15 $</value>
      </setting>
      <setting name="Price4" serializeAs="String">
        <value>20 $</value>
      </setting>
      <setting name="Price5" serializeAs="String">
        <value>12 $</value>
      </setting>
      <setting name="Price6" serializeAs="String">
        <value>10 $</value>
      </setting>
      <setting name="Name7" serializeAs="String">
        <value>Jeans 1</value>
      </setting>
      <setting name="Name8" serializeAs="String">
        <value>Jeans 2</value>
      </setting>
      <setting name="Name9" serializeAs="String">
        <value>Jeans 3</value>
      </setting>
      <setting name="Name10" serializeAs="String">
        <value>Jeans 4</value>
      </setting>
      <setting name="Name11" serializeAs="String">
        <value>Jeans 5</value>
      </setting>
      <setting name="Price7" serializeAs="String">
        <value>18 $</value>
      </setting>
      <setting name="Price8" serializeAs="String">
        <value>25 $</value>
      </setting>
      <setting name="Price9" serializeAs="String">
        <value>30 $</value>
      </setting>
      <setting name="Price10" serializeAs="String">
        <value>27 $</value>
      </setting>
      <setting name="Price11" serializeAs="String">
        <value>30 $</value>
      </setting>
      <setting name="Name12" serializeAs="String">
        <value>T-shirt 1</value>
      </setting>
      <setting name="Name13" serializeAs="String">
        <value>T-shirt 2</value>
      </setting>
      <setting name="Name14" serializeAs="String">
        <value>T-shirt 3</value>
      </setting>
      <setting name="Name15" serializeAs="String">
        <value>T-shirt 4</value>
      </setting>
      <setting name="Price12" serializeAs="String">
        <value>10 $</value>
      </setting>
      <setting name="Price13" serializeAs="String">
        <value>11 $</value>
      </setting>
      <setting name="Price14" serializeAs="String">
        <value>11 $</value>
      </setting>
      <setting name="Price15" serializeAs="String">
        <value>10 $</value>
      </setting>
    </ShopProject.Properties.Settings>
  </userSettings>
</configuration>